<!DOCTYPE html>
<html>
  <head>
    <title>Job list</title>
  </head>
  <body>
    <h1>Job List</h1>
    <div class="form-group" style="float: right;">
      <label for="file">Upload Resume</label>
      <div><input 
        id="file"
        type="file"
        accept=".txt"
        class="form-control"
        (change)="onFileChange($event)"
      /></div>
      <button class="btn btn-success" style="margin-top:10px" (click)="uploadPreference()" type="submit">Submit</button>

    </div>

    <div class="row">
      <div class="col-30">
        <app-textbox
          (valueChange)="positionChange($event)"
          [textBox]="positionInputBox"
        ></app-textbox>
      </div>
      <div class="col-30">
        <app-textbox
          (valueChange)="locationChange($event)"
          [textBox]="locationInputBox"
        ></app-textbox>
      </div>
    </div>
    <div style="clear: both"></div>
    <!-- <div *ngIf = "!jobList?.length"><app-loader></app-loader></div> -->
    <div style="margin-top: 25px;"> 
      <div class="tab">
        <button class="tablinks" (click)="jobPreview($event, 'alljobs')">
          All Jobs
        </button>
        <button
          class="tablinks"
          (click)="jobPreview($event, 'recommendedjobs')"
        >
          Recommended Jobs
        </button>
        <button class="tablinks" (click)="jobPreview($event, 'Tokyo')">
          Recently Viewed
        </button>
      </div>
      <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>

      <!-- Tab content -->
      <div id="alljobs" class="tabcontent">
        <article class="job-card" *ngFor="let item of jobList">
          <div class="job-title">{{ item.title }}</div>
          <div class="company-name">{{ item.company }}</div>
          <div class="source">{{item.source}}</div>
          <button class="apply" (click)="redirectToJob(item.job_link)">
            Visit Job
          </button>

          <!--  <button class="save">Save Job</button>-->
          <a href="#"></a>
        </article>
      </div>

      <div id="recommendedjobs" class="tabcontent">
        <article class="job-card" *ngFor="let item of recommendJobs">
          <div class="job-title">{{ item.title }}</div>
          <div class="company-name">{{ item.company }}</div>
          <div class="source">{{item.source}}</div>
          <button class="apply" (click)="redirectToJob(item.job_link)">
            Visit Job
          </button>

          <!--  <button class="save">Save Job</button>-->
          <a href="#"></a>
        </article>
      </div>

      <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>
    </div>
  </body>
</html>
